body {
    display: flex;
    flex-direction: column;
    min-width: 375px;
    height: 90vh; /* make sure the body covers the full viewport height */
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center; /* centers children vertically */
    align-items: center;     /* centers children horizontally */
    flex: 1;                 /* ensures main takes up all available space */
    padding: 20px;           /* keep the existing padding */
}

header {
  flex: 0 0 80px;
  padding: 20px 0;
}

nav.navbar {
  justify-content: start;
}

nav.navbar ul {
  display: flex;
  list-style-type: none;
  padding: 0;
}

li {
    margin-right: 1em;
    margin-top: 0.5em;
}

/* Group grid styles */
.group-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns grid */
    gap: 10px;
    overflow-y: auto;
    max-height: 300px;
    width: 60%; /* sets the width to 80% of its container */
    margin: 0 auto; /* centers the grid horizontally */
    align-items: center;
    justify-items: center;
}

.group-grid button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.1vw;  /* Add gap here to control the space between the image and the button text */
}

.group-grid img {
    width: 10vw;     /* adjust as needed */
    height: 10vw;    /* making height equal to width maintains aspect ratio */
    padding : 0.1vw;
}

.group-grid button {
    padding: 1vw 2vw;          /* adjust as needed */
    font-size: 1.5vw;          /* adjust as needed */
    border: 0.2vw solid;       /* if you have a border and want it to scale */
    border-radius: 1vw;        /* if you want rounded corners that scale */
}


footer {
    display: flex;
  flex: 0 0 30px;
  padding: 10px 0;
    max-height: 30px;
}
