

.mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center; /* centers children vertically */
    align-items: center;     /* centers children horizontally */
    flex: 1;                 /* ensures main takes up all available space */
    padding: 20px;           /* keep the existing padding */
    margin-top: 13em;
}

/* Group grid styles */
.group-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns grid */
    gap: 10px;
    overflow-y: auto;
    max-height: 300px;
    width: 60%; /* sets the width to 80% of its container */
    height: 70%; /* sets the height to 100% of its container */
    margin: 0 auto; /* centers the grid horizontally */
    align-items: center;
    justify-items: center;
}



footer {
  display: flex;
  gap: 10px; /* Adjust this value as needed */
  flex: 0 0 30px;
  padding: 0px 40px;
  max-height: 30px;
    margin-top: 12em;
}

footer #logout {
    text-align: start;
    color: white;
    background: transparent;
    border : none;
    margin-bottom: 10px;
}
