.group-grid-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.1vw;  /* Add gap here to control the space between the image and the button text */
    padding: 1vw 2vw;          /* adjust as needed */
    font-size: 1.5vw;          /* adjust as needed */
    border: 0.2vw solid;       /* if you have a border and want it to scale */
    border-radius: 1vw;        /* if you want rounded corners that scale */
}

.group-grid-img {
    width: 10vw;     /* adjust as needed */
    height: 10vw;    /* making height equal to width maintains aspect ratio */
    padding : 0.1vw;
}