
.mainSection {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 60px;
}

.title {
    align-self: center;
    margin-top: 0.5em;
}

.main-bucket {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 100%;
    margin: 2em;
}

