body {
    display: flex;
    font-family: Arial, sans-serif; /* just for simplicity; you can use any font */
    flex-direction: column;
    min-width: 375px;
    height: 80vh; /* make sure the body covers the full viewport height */
    overflow-y: auto;
}

header {
    flex: 0 0 80px;
    padding: 10px 0;
}

footer {
    display: flex;
    flex: 0 0 30px;
    padding: 10px 0;
    max-height: 30px;
}

nav.navbar {
    justify-content: start;
}

nav.navbar ul {
    display: flex;
    list-style-type: none;
    padding: 0;
}

li {
    margin-right: 1em;
    margin-top: 0.5em;
}

footer {
    display: flex;
    gap: 10px; /* Adjust this value as needed */
    flex: 0 0 30px;
    padding: 0px 40px;
    max-height: 30px;
}

footer #logout {
    text-align: start;
    color: white;
    background: transparent;
    border : none;
    margin-bottom: 10px;
}